


/* color
   
#ecf0f3
#fbe9e7

*/







*{
    margin: 0;
    padding:0 ;
    font-family: Montserrat,sans-serif;
    letter-spacing: .156rem;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}


/*********************************************** carousel ****************************/

.carousel-item{
    height: 100vh;
    min-height: 300px;
    
}
.carousel-item img{
    height: 750px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    animation: increase 60s linear 10ms infinite;
    -webkit-transition: all 0.2s ease-in-out ;
    -moz-transition: all 0.2s ease-in-out ;
    -ms-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ;
    z-index: -2;
}

@keyframes increase{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

.carousel-caption{
    bottom: 220px;
}
.carousel-caption h5{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 700;
}
.carousel-caption p{
    /* font-size: 18px; */
    margin: auto;
    width: 60%;
    /* line-height: 1.9; */
    
    letter-spacing: .25rem;
    line-height: 1.875;

}

.carousel-caption a{
    text-transform: uppercase;
    background: transparent;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: 0.3s ease;
}
.carousel-caption a:hover{
    background: darkorange;
}

/*********************************************** carousel ****************************/



/*************************************************** navbar *******************************************/

.navbar{
    position: absolute;
 
}
.navbar li.nav-item{
    margin: 1rem;
}
.navbar a{
    font-size: 18px;
    text-transform: uppercase;
   
   
}
.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
/* .nav-link{
    padding: .2rem 1rem;
} */
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-toggler{
    padding: 4px 10px;
    font-size: 20px;
    line-height: .5;
    background: transparent;

}
.w-100{
    height: 100vh;
}
/*************************************************** navbar *******************************************/



/************************************************** About Us  *********************************/


.about-us{
  position:relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 100vh;
  width: 90vw;
  margin: 4rem auto;
  
}

.about-us .about-image img{
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: center;
}

.about-us .about-content{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.about-us .about-content h2{
    text-transform: uppercase;
    letter-spacing: 6px;
    opacity: 0.9;

}
.about-us .about-content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.about-us .about-content p{
    padding-bottom: 15px;
    font-weight: 400;
    opacity: 0.7;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    line-height: 2.5;
    color: #3a3a3a;
    font-size: .75rem;
}
.about-us .about-content .about-links{
    margin: 15px 0;
    padding-left: 1px;
}
.about-us .about-content .about-links li{
    border: 0.5px solid #777;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.about-us .about-content .about-links li a{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}

.about-us .about-content .about-links li:hover{
    border-color: #06d6ae;
}
.about-us .about-content .about-links li:hover a{
    color: #06d6ae;
}
.about-us .about-content .vertical-line{
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}

.about-us .about-social-icon{
    display: flex;
    padding: 14px 0;

}
.about-us .about-social-icon li{
    display: block;
    padding: 6px;
    margin: 8px;
    
}
.about-us .about-social-icon li i{
    font-size: 26px;
    opacity: 0.8;

}
.about-us .about-social-icon li i:hover{
    color: #06d6ae;
}




/*************************************** About Us  *********************************/



/*************************************** Founder Details ***************************/

.founder{
    display: grid;
    height: 100vh;
    overflow: hidden;
  
    place-items: center;
    text-align: center;
}
.founder .container{
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-out;
}
.founder .container:hover{
    box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
}
.founder .container .founder-image{
    position: absolute;
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 0.3s ease-out;
    
}
.founder .container:hover .founder-image{
    transform: translateY(-100px);

}
.founder-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.3s ease-out;
}
.founder .container:hover .founder-image img{
    opacity: 0.7;
}
.founder .container .founder-content{
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    
}
.founder-content .founder-info{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    line-height: 26px;
}
.founder-info h2{
    font-size: 25px;
    letter-spacing: 5px;
    margin: 3px 0;
    text-transform: uppercase;
    opacity: 0.8;
}
.founder-info span{
    color: #1a1a1a;
    opacity: 0.8;

}
.founder .container ul{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    list-style: none;
    transform: translate(-55%, -50%);
}
.founder .container ul li{
    margin: 0 6px;
}
.founder .container ul li a{
    display: block;
    height: 50px;
    width: 50px;
    color: #000;
    background: #fff;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    opacity: 0;
    transform: translateY(200px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.founder .container:hover ul li a{
    opacity: 1;
    transform: translateY(0);

}
.founder .container:hover ul li a:hover{
    color: #06d6ae;
}
.founder .container ul li:nth-child(2) a{
    transition-delay:0.1s;

}
.founder .container ul li:nth-child(3) a{
    transition-delay:0.2s;

}
.founder .container ul li:nth-child(4) a{
    transition-delay:0.4s;

}
.founder .container ul li:nth-child(5) a{
    transition-delay:0.5s;

}

/*****************************************Founder Details ***************************/


/******************************************** Images  *****************************************/


.index-gallery{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
   
}
.index-images{
    row-gap: 20px;
}
.index-img img{

 height: 100%;
 width: 100%;
 object-position: center;
 object-fit: cover;
}




/********************************************* Video home ***********************************/

.home-video{
   position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    align-items: center;
    min-height: 70vh;
    margin: 4.5rem auto;
}
.home-video .home-video-content{
    width: 80%;
}
.home-video .home-video-content p{
    font-size: 2.3rem;
    text-transform: uppercase;
    line-height: 4.6rem;
}




/************************************************ home banner **************************** */
.home-banner{
    position: relative;
 
    height: 100vh;
}
.home-banner img{

   width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
 
}

.home-banner .banner-content{
    position: absolute;
    top: 200px;
    left: 30%;
   
    
}
.home-banner .banner-content h2{
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Montserrat,sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .25rem;
    line-height: 1.43;
    text-transform: uppercase;
}
.home-banner .banner-content p{
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .188rem;
    text-transform: uppercase;

    font-family: Lora,serif;
    font-size: .688rem;
    line-height: 1.63;
}



/************************************* footer  ****************************************/

/* .footer-bottum p{
  
    font-style: normal;
    font-weight: 400;
    letter-spacing: .288rem;
    text-transform: uppercase;

    font-family: Lora,serif;
    font-size: .688rem;
    line-height: 1.63;
    color: #3a3a3a;
    opacity: 0.8;
   
} */




footer{
    margin-top: 1.2rem;
    padding: 50px 0;
}
footer .footer-social{
    text-align: center;
    padding-bottom: 25px;
    
}

footer .footer-social a{
    color: #3a3a3a;
    opacity: .8;
    font-size: 24px;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;

}

footer .footer-social a:hover{
    opacity: 1;
}
.footer-menu{
    margin-top:0 ;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

}
.footer-menu li{
    display: inline-block;
    padding: 0 16px;
}
.footer-menu li a{
    color: #3a3a3a;
    opacity: 0.8;
    transition: 0.3s ease-in;
}
.footer-menu li a:hover{
    opacity: 1;
}

.footer-bottum{
    margin-top: 2rem;
    text-align: center;
    
    font-style: normal;
    font-weight: 400;
    letter-spacing: .288rem;
    text-transform: uppercase;

    font-family: Lora,serif;
    font-size: .688rem;
    line-height: 2.83;
    color: #3a3a3a;
    opacity: 0.8;
}

.footer-bottum a{
    
    font-family: Lora,serif;
    font-size: .788rem;
    line-height: 2.83;
    color: #3a3a3a;
    opacity: 0.8;
}
.footer-address{
    margin-top:1rem ;
    padding: 0;
    font-size: 18px;
    line-height: 2.6;
    margin-bottom: 0;
    text-align: center;

}

.footer-address li a{
    color: #3a3a3a;
    opacity: 0.8;
    transition: 0.3s ease-in;
}
.footer-address li a:hover{
    opacity: 1;
}





/****************************** Owl carousel  *********************************/
.owl-carousel{
  width: 100%;
  height: 100vh;
  margin-top: 4rem;
}
.owl-carousel .slide{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
  
    
}

.owl-carousel .slide.slide-1{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911155117.jpg);
   
   
}
.owl-carousel .slide.slide-2{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911155710.jpg);
  

}
.owl-carousel .slide.slide-3{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911155734.jpg);
   
}
.owl-carousel .slide.slide-4{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911155816.jpg);
}
.owl-carousel .slide.slide-5{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911155851.jpg);
}
.owl-carousel .slide.slide-6{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161315.jpg);
}
.owl-carousel .slide.slide-7{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161414.jpg);
}
.owl-carousel .slide.slide-8{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161440.jpg);
}
.owl-carousel .slide.slide-9{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161526.jpg);
}
.owl-carousel .slide.slide-10{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161549.jpg);
}
.owl-carousel .slide.slide-11{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161630.jpg);
}
.owl-carousel .slide.slide-12{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161716.jpg);
}
.owl-carousel .slide.slide-13{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161805.jpg);
}
.owl-carousel .slide.slide-14{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161825.jpg);
}
.owl-carousel .slide.slide-15{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161906.jpg);
}
.owl-carousel .slide.slide-16{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911161936.jpg);
}
.owl-carousel .slide.slide-17{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911162009.jpg);
}
.owl-carousel .slide.slide-18{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911162037.jpg);
}
.owl-carousel .slide.slide-19{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911162142.jpg);
}
.owl-carousel .slide.slide-20{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911162251.jpg);
}
.owl-carousel .slide.slide-21{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911162312.jpg);
}
.owl-carousel .slide.slide-22{
    background-image: url(../../Amal-Sudheer-Photography/images/img/20210911162354.jpg);
}
.owl-carousel .slide.slide-23{
    background-image: url(../../Amal-Sudheer-Photography/images/);
}
.owl-carousel .slide.slide-24{
    background-image: url(../../Amal-Sudheer-Photography/images/);
}
.owl-carousel .slide.slide-25{
    background-image: url(../../Amal-Sudheer-Photography/images/);
}
.owl-carousel .slide.slide-26{
    background-image: url(../../Amal-Sudheer-Photography/images/);
}
.owl-carousel .slide.slide-27{
    background-image: url(../../Amal-Sudheer-Photography/images/);
}
.owl-carousel .slide.slide-28{
    background-image: url(../../Amal-Sudheer-Photography/images/);
}
.owl-carousel .slide.slide-29{
    background-image: url(../../Amal-Sudheer-Photography/images/);
}

.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 90px !important;
    font-weight: border !important;
}
.owl-prev{
    left: 1%;
}
.owl-next{
    right: 1%;
}



@media(max-width:992px){
    .about-us{
        grid-template-columns: 1fr;
        width: 90%;
     
    }
    .about-us .about-image img{
        height: 700px;
    }
  
    
    .about-us .about-content p{
        width: 100%;
        font-size: 14px;
    }
    .about-us .about-content h2{
        margin-top: 50px;
        
    }

    .about-us .about-content span{
        margin: 20px 0;

    }
    .about-us .about-content .about-links li a{
        font-size: 14px;
    }
    .about-us .about-content .about-links{
        margin: 5px 0;
    }
    .about-us .about-content .about-links li{
        padding: 6px 10px;

    }
    .about-us .about-content .about-links li i{
        font-size: 1rem;
    }
   
    .home-banner .banner-content h2{
        font-size: 1.875rem;
        letter-spacing: .188rem;
        line-height: 1.56;
    }
    .home-banner .banner-content{
   
        left: 4%;
       
        
    }
    .owl-carousel .slide {
        width: 100%;
        height: 60vh;
       
    }
    .owl-carousel {
    
        height: 67vh;
    }
    .home-banner {
       
        height: 73vh;
    }
    

  
   
    
}

@media only screen and (max-width:767px){
    .navbar-nav.mx-auto{
        background: rgba(0, 0, 0, 0.5);
        padding: 40px 15px;
        text-align: center;
    }
    .navbar-nav a{
        font-size: 14px;
        font-weight: normal;
    }
    .navbar-light .navbar-brand{
        
        font-size: .775rem;
        line-height: 1.3;
       margin-top: 1rem;
       letter-spacing: .156rem;
       /* font-size: .875rem;
       letter-spacing: .156rem;
       line-height: 1.3; */
    }
    .carousel-caption p{
        font-size: .8125rem;

       text-transform: uppercase;
        width: 100%;
        line-height: 1.9;
    }

    .carousel-caption h5{
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
    }
    .carousel-caption{
        bottom: 80px;
    }
    .founder .container{
        width: 330px;
    }


  

    .home-banner img {
     
        height: 66vh;
    
    }
    
}



@media(max-width:450px){
   
}